<!--    Save bank modal-->
<div id="newBankModal" role="dialog" aria-hidden="true" class="modal fade" th:fragment="newBank">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{newBank.header}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" th:action="@{/admin/saveNewBank}" th:object="${newBank}" method="post" class="form-inline">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-12">
                            <label for="bankName" th:text="#{newBank.bankName}"></label>
                            <input id="bankName" type="text" th:field="*{bankName}" class="form-control"
                                   th:value="*{bankName}" required/>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:text="#{button.cancel}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{button.submit}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>